body {
  background-color: #a08df7;
  
}
p{
 font-size: x-large;
 margin-left: 350px;
 font-style: oblique;

}


h1{
  display: flex;
  justify-content: center;
}
h2{
  text-align: center;
  font-size: 50px;
}
img{
  margin-left: 400px;
  width: 600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  font-size: 30px;
  margin-left: 150px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(169, 198, 223);
  border-color: rgb(219, 100, 126);
  cursor: pointer;
  width: 200px;
  height: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
